@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

body{
    font-family: 'Merriweather', serif;
}

.opacityAnimation {
    animation: opacity ease 0.3s;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
